name: Run Test Scripts
on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repo at pull request
      uses: actions/checkout@v6
      with:
        ref: ${{ github.ref }}
    - name: Setup node
      uses: actions/setup-node@v6
      with:
        node-version: "24"
        check-latest: true
        cache: 'npm'
    - name: Run Tests
      run: 'npm test'
