name: Run Test Scripts
on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repo at pull request
      uses: actions/checkout@v6
      with:
        ref: ${{ github.ref }}
    - name: Run Tests
      run: 'npm test'
